html
  head
    style(type='text/css').
      @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        src: local('Roboto-Regular.ttf'), url(#{robotoUrl}) format('truetype');
      }
      @font-face {
        font-family: 'Roboto Light';
        font-style: normal;
        font-weight: light;
        src: local('Roboto-Light.ttf'), url(#{robotoLightUrl}) format('truetype');
      }
      @font-face {
        font-family: 'Roboto Bold';
        font-style: normal;
        font-weight: bold;
        src: local('Roboto-Bold.ttf'), url(#{robotoBoldUrl}) format('truetype');
      }
      @font-face {
        font-family: 'Roboto Thin';
        font-style: normal;
        font-weight: lighter;
        src: local('Roboto-Thin.ttf'), url(#{robotoThinUrl}) format('truetype');
      }

      .card-layout {
        background: url(#{cardBackgroundImageUrl});
        width: 600px;
        height: 444px;
        color: white;
      }

      .header {
        height: 10%;
        line-height: 175%;
        vertical-align: middle;
        font-family: 'Roboto Bold';
        padding-left: 40px;
        border-bottom: 3px solid white;
        font-size: 24px;
      }

      .body {
        height: 45%;
        vertical-align: middle;
        text-align: center;
      }
      .currency {
        height: 50%;
        line-height: 300%;
        font-family: 'Roboto Light';
        font-size: 45px;
      }
      .time {
        height: 50%;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: 'Roboto Thin';
        font-size: 28px;
      }
      .table {
        height: 45%;
        line-height: 45%;
        vertical-align: middle;
      }
      table {
        width: 100%;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      td {
        font-family: 'Roboto Thin';
        text-align: center;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 40px;
      }
      td:nth-of-type(1) {
        border-right: 3px solid white;
      }
      .daily-price {
        font-size: 24px;
        font-family: 'Roboto Bold';
      }

  body
    div.card-layout
      div.header Current Market Price
      div.body
        div.currency  #{coin}/#{currency} = #{currentPrice} 
        div.time #{now}
      div.table
        table
          tr
            td
              div.daily-price Daily Low
              div #{currencySymbol}#{dayLowPrice}
            td
              div.daily-price Daily High
              div #{currencySymbol}#{dayHighPrice}
